html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair !important;
    scroll-behavior: smooth !important;
}



html {
  scroll-behavior: smooth !important;
  -webkit-scroll-behavior: smooth !important;
 }


svg {
  width: 430px;
height: 45%;
    position: absolute;
    top: 0;
    right: 0;
}

.colorsvg {
  fill: blue;
}

.homebox {
  display: none;
}


.introofido {
  white-space: nowrap;
}

#modesforpage {
  display: inline;
}

#home-p {
  font-size: 11px;
  line-height: 20px;
  color: var(--lightcl);
}

#arrow {
  position: absolute;
  bottom: 13%;
  right: 10%;
  font-size: 20px;
  animation: arrowupdown 1.8s infinite alternate;
  color: var(--lightcl);
}
/*dark mode switch*/
.switch {
  position: relative;
  display: block;
  width: 50px;
  height: 30px;
  margin-bottom: 30px;
  display: inline-block
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background: white;
  transition: 200ms;
  border: 2px solid black;
}

.slider::before {
  position: absolute;
  content: "";
  bottom: 14px;
  top: 4px;
  background: var(--lightcl);
  transition: 200ms;
}

.switch input {
  visibility: hidden;
}

input:checked + .slider {
  background-color: black;
  border: 2px solid white;
}

input:checked + .slider:before {
  transform: translateX(25px) rotateZ(45deg);
  background: var(--lightcl);
}

.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  width: 43%;
  height: 43%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotateZ(-45deg);
}

/* dark mode */

.containe {
  position: absolute;
  left: 0;
  top: 0;
}


html {
	background: var(--lightBg);
	--lightBtn: #000;
	--lightBg: #fff;
	--lightColor: #000;
  --lightcl: #fb0953;
}

html[data-theme="dark"] {
	background: var(--lightBg);
	--lightBg: #000;
	--lightColor: #fff;
  --lightcl: #09fcd6;
}

h3 {
	font-family: "Poppins";
	font-size: 2rem;
	font-weight: bold;
	color: var(--lightColor);
	text-transform: uppercase;
}

input:checked + label {
	background: #fff;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: ease-in-out 300ms !important;
	transition-delay: 0 !important;
}

/*end of dark mode*/




body {
  cursor: crosshair;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

}
.heightf {
  height: 100vh;
}
/* .fixedstuff {
  position: fixed !important;
  overflow: hidden !important;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  top: 60%;
  left: 10%;
  transition: translate(0, -50%);
    cursor: crosshair !important;
} */

@keyframes ballinout {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.7);
  }
}

@keyframes arrowupdown {
  from {
    bottom: 14%;
  }
  to {
    bottom: 9%;
  }
}

#ball {
  width: 60px;
  height: 60px;
  background: none;
  border: 1px solid var(--lightColor);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
  pointer-events: none;
  z-index: 9;
  animation: ballinout .9s infinite alternate;
    cursor: crosshair !important;
}

.intro {
    cursor: crosshair !important;
}



.wrapc {
  position: fixed;
  top: -20px;
  left: -21px;
  right: 0;
  bottom: 0;
  overflow: hidden;
    cursor: crosshair !important;
}

#screen {
  color: #252627;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
    cursor: crosshair !important;
    margin: 0;
  /*  width: -webkit-fill-available;
    text-align: center; */
}


.content {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  top: 30%;
  left: 10%;
    cursor: crosshair !important;
}

.content h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  color: var(--lightColor);
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 0;
    cursor: crosshair !important;
    letter-spacing: 3px;
    word-spacing: 13px;
    line-height: 83px;
}

.content p {
  margin-top: 0;
  text-align: left;
  color: var(--lightColor);
  font-weight: 700;
    cursor: crosshair !important;
    font-size: 14px;
    word-spacing: 2.5px;
    letter-spacing: .5px;
}

.overlay-2 {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fb0953;
    cursor: crosshair !important;
}

.overlay {
  z-index: 2;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: #fff;
    cursor: crosshair !important;
}

.overlay p {
  line-height: 100%;
  text-align: center;
  font-size: 400px;
  font-weight: 800;
    cursor: crosshair !important;
}

.myBtn {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
    cursor: crosshair !important;
}

.myBtn2 {
  font-family: 'Poppins', sans-serif;
  top: 2% !important;
  right: 2% !important;
    cursor: crosshair !important;
}

.myBtn {
  display: block;
  padding: 24px 48px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 6px;
  color: #000;
  border: 2px solid #000;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: crosshair;
  transition: color 0.8s ease-out;
  cursor: crosshair !important;
  max-width: 100%;

}

.myBtn2 {
  display: block;
  padding: 14px 34px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  color: var(--lightColor);
  border: 2px solid var(--lightColor);
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  background: none;
  cursor: crosshair;
  transition: color 0.8s ease-out;
  cursor: crosshair !important;
  max-width: 100%;
  position: sticky;
  position: -webkit-sticky;
  float: right;

}


.myBtn:hover {
  cursor: crosshair;
  color: white;
    cursor: crosshair !important;

}

.myBtn2:hover {
  cursor: crosshair;
  color: var(--lightBg);
    cursor: crosshair !important;

}

.myBtn:before {
  content: "";
  position: absolute;
  background: #000;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: top 0.8s ease-out;
    cursor: crosshair !important;

}

.myBtn2:before {
  content: "";
  position: absolute;
  background: var(--lightColor);
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: top 0.8s ease-out;
    cursor: crosshair !important;

}

.myBtn:hover:before {
  top: 0;
    cursor: crosshair !important;
}

.myBtn2:hover:before {
  top: 0;
    cursor: crosshair !important;
}

@media screen and (max-width: 1400px) {
  #screen {
    font-size: 275px !important;
  }
}

@media screen and (max-width: 800px) {
  #screen {
    font-size: 200px !important;
  }
  svg {
    width: 262px;
    height: 53%;
      position: absolute;
      top: 0;
      right: 0;
  }
}

@media screen and (max-width: 600px) {
  #screen {
    font-size: 125px !important;
  }
  #ball {
    display: none;
  }
  .content h1 {
    font-size: 26px;
    line-height: 38px;
    word-spacing: 5px;
    letter-spacing: 1px;
  }
  .content p {
    font-size: 10px;
    word-spacing: 1.5px;
  }
  #home-p {
    font-size: 11px;
  }
  svg {
    width: 262px;
    height: 34%;
      position: absolute;
      top: 0;
      right: 0;
  }
}

.home {
  height: 100vh;
}

/*about*/

.about {
  height: 100vh;
}
